body{
    background-color: rgb(152, 152, 6);
}
header{

    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
}
#heading{
    text-align: center;
    color: white;
    /* background-color: yellow; */
}
#circle {
    align-items: center;
    background: rgb(162, 207, 11);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
}
#smile{
    position: absolute;
    left: 32%;
    top: 13%;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(75, 75, 1);
}
footer{
    position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: rgb(227, 103, 54);
  color: white;
  text-align: center;
}
.arrow-down {
    position: relative;
    left: 36.5%;
    /* background-color: pink; */
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    
    border-top: 100px solid rgb(152, 152, 6);
  }